<!-- 
<div fxLayout="row" fxLayoutAlign="space-between none" class="screen-title">
  <div fxLayout="column" fxLayoutAlign="center stretch">
      <div class="screen-nav-item">BREACH ASSESSMENT</div>
      <div class="screen-header">Breach Risk</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <form >
              <mat-form-field id="search-input" appearance="fill">
                  <mat-icon style="color: #7f87a4" matPrefix>search</mat-icon>
                  <mat-label>Search Data Asset</mat-label>
                  <input   matInput type="text"
                       />
                  <button matSuffix mat-icon-button aria-label="Clear" class="close-button">
                      <mat-icon style="color: #7f87a4" >close</mat-icon>
                  </button>
              </mat-form-field>
          </form>
          <button class="search-button" mat-flat-button class="search-button" >SEARCH</button>
      </div>
  </div>
</div> -->
<!-- <app-comp1></app-comp1> -->

<button  mat-button class="buttons" routerLink="breachRisk">Breach Risk</button>
<br>
<br>
<button  mat-button  class="buttons" routerLink="tags">Tags</button>
<br>
<br>
<button  mat-button  class="buttons" routerLink="datacatalog">Data Catalog</button>
<router-outlet></router-outlet>
<!-- <h1>hjvhjvh</h1> -->