$primary: #4880ff;
$primary-less: #edeef1;
$primary-light: #eff3ff;
$primary-dark: #313541;
$primary-dark-hover: #313541a8;
$primary-svg-filter: invert(45%) sepia(30%) saturate(5313%) hue-rotate(208deg) brightness(103%) contrast(101%);
$primary-svg-filter-light: invert(99%) sepia(94%) saturate(1636%) hue-rotate(179deg) brightness(108%) contrast(106%);
$primary-svg-filter-dark: invert(18%) sepia(10%) saturate(1212%) hue-rotate(188deg) brightness(87%) contrast(87%);
$primary-text: #7f87a4;
$primary-hr: #e8ebf2;
$primary-white: #fbfcfc;

$container-primary-light: #f0f2fa;
$button-primary: #4880ff;
$button-primary-text: #ffffff;
$onedpo-gray-light: #ebeef0;
$onedpo-grey-medium: #8d9599;

$primary-scroll-bar: #c4c4c4;
$onedpo-delete: #ff5660;
$onedpo-orange: #da7847;
$onedpo-accent: #0fb269;
$dialog-title-gradiant-grey: #26323880;
$dialog-title-dark-grey: #263238;
$icon-grey: #546e7a;
$white: #eeeeee;
$add-tag-light-blue: #f0f2fa;
$sample-data-odd-grey: #f4f6f8;

$column-blue-line: #3f51b5;
$column-red-line: #f44336;

$column-title: #1f1f1f;
$no-of-tag: #707070;

$primary-black: #000000;
$table-footer-light-grey: #e7e7e7;
$table-hover : #F5F5F5;
$table-header-background-white: #fafafa;

$onedpo-red: #f44336;
$onedpo-blue: #3f51b5;
$onedpo-green: #0fb269;
$onedpo-yellow: #ffd15a;
$onedpo-orange: #ffae5a;
$onedpo-violet: #5f1a8f;
$onedpo-light-blue: #dfe5f9;
$onedpo-grey: #263238;
$onedpo-gradient-red: rgba(255, 86, 96, 0.1);
$onedpo-gradient-blue: rgb(213 222 255);
$onedpo-gradient-green: rgba(15, 178, 105, 0.1);
$onedpo-gradient-yellow: rgba(255, 209, 90, 0.1);
$onedpo-gradient-orange: rgba(255, 174, 90, 0.1);
$onedpo-gradient-violet: rgba(95, 26, 143, 0.1);
$onedpo-gradient-grey: rgb(236 239 241);

$onedpo-button-disabled: #00000042;
